body {
  background-color: #030303;
  width: 1200px;
  margin: 0 auto;
  /*background-image: url("mosh.gif");*/
}

a:link {
  text-decoration: none;
}

.nav {
  display: block;
  color: #56ff68;
  text-align: center;
  text-decoration: none;
}

li {
  display: inline;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-size: 50px;
  text-shadow: 1px 1px 10px #4dff5e;
}
h2 {
  text-shadow: 1px 1px 10px #4dff5e;
  font-size: 35px;
}
h3 {
  text-shadow: 1px 1px 10px #4dff5e;
}
h1,
h2,
h3,
p,
label {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: #56ff68;
}

label {
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
}

input[type="text"] {
  font-family: "Share Tech Mono", monospace;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: solid 1px #56ff68;
  color: #56ff68;
  caret-color: #56ff68;
  font-size: 20px;
  text-transform: uppercase;
  margin: 5px;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}

input:focus {
  outline: none;
}

.happiness,
.terminal {
  width: 570px;
  padding-left: 50px;
  overflow: hidden;
  padding-top: 50px;
}

input[type="submit"],
button {
  background: transparent;
  border: none;
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  color: #56ff68;
  text-shadow: 1px 1px 10px #4dff5e;
}

input[type="submit"] {
  color: #56ff68;
}

.title {
  padding-right: 65px;
}
