.App {
  text-align: center;
  background-color: black;
}

a:link {
  text-decoration: none;
}

h1,
h3,
p,
label {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: #56ff68;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
